<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.footballquiz">

    <application
        android:allowBackup="true"
        android:label="FootballQuiz"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <!-- Khai báo 2 Activity phụ -->
        <activity android:name=".ResultActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".ScoreListActivity" />

        <!-- Màn hình chính khi mở app -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- ✅ Bắt buộc cho Android 12+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>